// src/styles/theme/components/_typo.scss 


::-moz-selection {
    background: $main;
    color: $main-contrast;
    text-shadow: none;
}

::selection {
    background: $main;
    color: $main-contrast;
    text-shadow: none;
}


body {
    font-family: $main-font;
    font-weight: 300;
}

.reveal {
    font-family: $main-font;
    font-weight: 300;   
}

.reveal h1 {
    word-wrap: normal; 
    color: $main;
}


.reveal section  img {
    border: 0;
}

.reveal code {
    background: #f7f7f7;
    padding: 0px 3px 2px 3px;
    font-family: $code-font;
}

.reveal span.text--white {
    color: #f7f7f7;
    text-shadow: 0 0 12px rgba(0,0,0,.9);
    font-family: $headingFont;
    position: absolute;
    font-size: 65px;
    left: 5%;
    top: 700%;
}
.reveal h1 span.text--white {
    position: inherit;
    left: inherit;
    top: inherit;;
    font-size: inherit;
}

.reveal pre {
    padding: 8px 16px;
    background: #fbfbfb;
}

.reveal pre code {
    background: none;
    padding: 0;   
}


.tiny-code pre {
    font-size: 14px;
    overflow: scroll;
    height: 600px;
}

.reveal ul {
    width: 100%;
    margin-bottom: 40px;
}

.reveal section img {
    box-shadow: none;
}




// FIRST SLIDE HEADER COLOR
.reveal .slides:first-child h1 {
    color: $main-contrast;
}

// AUTHOR INFO
.reveal .author-info {
    position: relative;
    bottom: -150px;
    right: 10px;
    text-align: right;
    font-size: 0.6em;
    line-height: 1.2em;
    color: #f7f7f7;

    a {
        display: block;
        font-size: inherit;
        color: inherit;
        
        &:hover {
            color: inherit;
            text-decoration: underline;
        }
    }

    h5 {
        margin: 0;
        font-size: inherit;
        color: inherit;
        text-shadow: inherit;
    }
}

